node_modules
vendor
.git
.gitignore
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
database/database.sqlite
tests
README.md
composer.lock
package-lock.json